   h2 {
      color: #333;
    }
    a {
      color: blueviolet;
      position: relative;
      margin-left: 80%;
    
    }
    form {
      margin-top: 20px;
    }
    
    label {
      font-size: 16px;
    }
    
    input[type="number"] {
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
    button {
      padding: 10px 20px;
      margin-top: 5px;
      font-size: 16px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #45a049;
    }
    
    .error {
      color: red;
      margin-top: 0px;
    }
   /*Admin Verification*/
   
   body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    .admin-panel {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    .main-content {
      flex-grow: 1;
      padding: 20px;
    }

    .controls-container {
      overflow-x: auto;
    }

    .controls {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
    }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: sienna;
      color: #fff;
      border: none;
      border-radius: 4px;
      margin-left: 2px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn:hover {
      background-color: #555;
    }

    .iframe-container {
      flex-grow: 1;
      height: 100%;
    }

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }

    .line {
      height: 2px;
      background-color: #333;
      margin: 10px 0;
    }

    #admin-name {
      color: #333;
      font-weight: bold;
    }

    #date-time {
      color: #777;
      font-size: 12px;
    }